{% extends '{}/layouts/{}.jinja'.format(settings.theme, settings.layout) %}

{# Global #}
{% set request = settings.request %}
{% set response = data %}



{# Head #}
{% block title %}BLANK{% endblock %}
{% block stylesheet %}
<style>

</style>
{% endblock %}



{# body #}
{% block secondary %}
<h2 class="page-title">BLANK</h2>

<form action="/analysis/seoul/park/" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  
  <div>
    ...
  </div>

  <br>

  <div class="form-buttons">
    <button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Cancel</button>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="onSubmit()">Submit</button>
  </div>

  <br>

  {% if dataset.iserror %}
  <div class="error-message">
    {{ dataset.errmsg }}
  </div>
  {% endif %}

</form>
{% endblock %}



{% block primary %}
<div class="page-header"></div>

<div class="page-content">
  ...
</div>

<div class="page-footer"></div>
{% endblock %}



{# foot #}
{% block script %}
<script>

</script>
{% endblock %}