<link rel="stylesheet" href="{{ url_for('static', filename='{}/vendor/material/1.3.0/materialicons.css'.format(settings.theme)) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='{}/vendor/material/1.3.0/material.teal-red.min.css'.format(settings.theme)) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='{}/vendor/select2/4.0.13/select2.min.css'.format(settings.theme)) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='{}/assets/css/style.css'.format(settings.theme)) }}">