
/** 
 * reboot 
 */

table{
  caption-side: bottom;
}
caption{padding: 10px 0;text-align: right;}

h2, h3 {
  margin: 24px 0 12px;
}

/** 
 * layout 
 */

.secondary-sidebar{
  border-right:1px solid #ccc;
  padding-right: 16px;
}

.tertiary-sidebar{
  border-left:1px solid #ccc;
  padding-left: 16px;
}

.site-footer{
  padding:16px;border-top:1px solid #ccc;text-align:center;
}


/** 
 * alignment 
 */

.aligns{ display:table; }
.aligns .align-top{ display:table-cell; vertical-align: top;}
.aligns .align-middle{ display:table-cell; vertical-align: middle;}
.aligns .align-bottom{ display:table-cell; vertical-align: bottom;}


/** 
 * Component 
 */

/* Fixed: slick default style */
.slick-slider, .slick-track, .slick-list, .slick-slide > div { width: 100%; height: 100%; }
.slick-slide { -webkit-transform: translateZ(0); -moz-transform: translateZ(0); transform: translateZ(0); }
.slick-slider .aligns { display: table !important; }

/* background */
.slick-slide { background-attachment: fixed; background-size:cover; background-position: center center; background-repeat: no-repeat; }

/* arrow */
.slider-arrow {overflow: hidden;position: absolute;z-index: 1001;top: 0;bottom: 0;visibility: visible;width: 75px;height: 100%;padding: 0;cursor: pointer;text-indent: -9999px;-webkit-transition: opacity .3s ease, visibility .3s ease;-moz-transition: opacity .3s ease, visibility .3s ease;-o-transition: opacity .3s ease, visibility .3s ease;transition: opacity .3s ease, visibility .3s ease;opacity: 1;border: 0;outline: 0;background: transparent;}
.slider-arrow:after { font-size: 50px; position: absolute; top: 50%; display: block; width: 100%; margin-top: -40px; color: #fff; }
.slider-arrow:hover:after {color: #009688;}
.slider-prev { left: 0; }
.slider-next { right: 0; }
.slider-prev:after { content: '\2329'; text-align: left; text-indent: 0; }
.slider-next:after { content: '\232A'; text-align: right; }

/* dataTable */
.page-content .dataTables_wrapper .dataTables_paginate{
  float: none;
  text-align: center;
}
.page-content table.dataTable.no-footer{
  border:0;
}

.page-content table.dataTable thead .sorting, 
.page-content table.dataTable thead .sorting_asc, 
.page-content table.dataTable thead .sorting_desc, 
.page-content table.dataTable thead .sorting_asc_disabled, 
.page-content table.dataTable thead .sorting_desc_disabled {
  background-position-y: 35px;
}

/** 
 * Navigation
 */

.mdl-layout__drawer .mdl-navigation{ padding-top:0; }

/** 
 * Content 
 */

/* hero */
.site-hero.vh-25, 
.site-hero.vh-25 .hero-inner, 
.site-hero.vh-25 .slider, 
.site-hero.vh-25 .slide { height: 25vh; }
.site-hero.vh-50, 
.site-hero.vh-50 .hero-inner, 
.site-hero.vh-50 .slider, 
.site-hero.vh-50 .slide { height: 50vh; }
.site-hero.vh-75, 
.site-hero.vh-75 .hero-inner, 
.site-hero.vh-75 .slider, 
.site-hero.vh-75 .slide { height: 75vh; }
.site-hero.vh-100, 
.site-hero.vh-100 .hero-inner, 
.site-hero.vh-100 .slider, 
.site-hero.vh-100 .slide { height: 100vh; }

 /* main */
.page-content{ padding-bottom: 100px; }
